<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparkle: Predicting Diamond Prices with Precision - A Flask Application</title>
    <style>
        /* Add your custom CSS styles here */
        h1, h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Sparkle: Predicting Diamond Prices with Precision - A Flask Application</h1>
    <h2>Brilliance Forecast: Unveiling Diamond Prices - Flask App Edition</h2>
</body>
</html>
